[ews2org]
# EWS server:
server=outlook.office365.com

# The user name may be your email address (e.g. for Office365), GROUP\\user, etc:
username=GROUP\\user
email_address=me@work.org
password=12345strongpw!

# E.g. Europe/Berlin.  Use system timezone if empty.
timezone=

# Days in the past and future to get calendar items for:
days_past=7
days_future=30
max_items=100

# Output file name, calendar title and orgmode labels for this calendar (:LABEL1:[LABEL2:]):
output_file=/home/user/.org/myCal.org
calendar_name=My Exchange calendar
orgmode_labels=:WorkCal:EWScal:
