[ews2org]
# EWS server:
server=outlook.office365.com

# The user name may be your email address (e.g. for Office365), GROUP\\user, etc:
username=GROUP\\user
email_address=me@work.org
password=12345strongpw!

# E.g. Europe/Berlin.  Use system timezone if empty.
timezone=

# Days in the past and future to get calendar items for:
days_past=7
days_future=30
max_items=100

# Output file name, calendar title and orgmode labels for this calendar (:LABEL1:[LABEL2:]):
output_file=/home/user/.org/myCal.org
calendar_name=My Exchange calendar
orgmode_labels=:WorkCal:EWScal:

# Status for an item (e.g. TODO or empty):
orgmode_status_future=TODO
orgmode_status_current=PROGRESS
orgmode_status_past=DONE
orgmode_status_cancel=CANCELLED

# Priorities of items (e.g. [#A] or empty):
orgmode_priority_default=
orgmode_priority_high=[#B]
orgmode_priority_low=[#D]

